/* COLORS:
[00dp] #121212
[01dp] #1d1d1d
[02dp] #232323
[03dp] #262626
[04dp] #282828
[06dp] #2c2c2c
[08dp] #2e2e2e
[12dp] #343434
[16dp] #363636
[24dp] #373737

font colors:
normal       : white
darker/accent: #969696
*/

/* weather app */
WeatherApp{
    background-color: #121212;
}
WeatherApp *{
    color: white;
    /* border: 2px solid white; */
    margin: 0px;
    padding: 0px;
}


/* Quick Overview */
#qoWeatherName{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

/* Other classes */
*[css-class~="wrapper"]{
    background-color: #1d1d1d;
    border-radius: 10%;
}

*[css-class~="text-light-gray"]{
    color: #969696   
}