/* COLORS:
[00dp] #121212
[01dp] #1d1d1d
[02dp] #232323
[03dp] #262626
[04dp] #282828
[06dp] #2c2c2c
[08dp] #2e2e2e
[12dp] #343434
[16dp] #363636
[24dp] #373737

font colors:
normal       : white
darker/accent: #969696
*/

/* weather app */
WeatherApp{
    background-color: #121212;
}
WeatherApp *{
    color: white;
}


/* Quick Overview */
#qoWeatherName{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

/* Hourly overview */
#hOverviewSA{
    background: qlineargradient( x1:0 y1:0, x2:0 y2:1, stop:0 #161616, stop:0.05 #1d1d1d, stop:0.95 #1d1d1d, stop:1 #161616);
}

hourlyOverview{
    background-color: #262626;
    border-radius: 10%;
}

/* Other classes */
*[css-class~="wrapper"]{
    background-color: #232323;
    border-radius: 10%;
}

*[css-class~="text-light-gray"]{
    color: #969696;
}